parameters:
  level: max
  paths:
    - src

  autoload_files:
    - %currentWorkingDirectory%/vendor/contao/core-bundle/src/Resources/contao/helper/functions.php

  ignoreErrors:
    - '#Used constant TL_FILES not found\.#'
    - '#Constant TL_FILES not found\.#'
