services:
  netzmacht.contao_form.form_type.html:
    class: Netzmacht\ContaoFormBundle\Form\HtmlType
    arguments: []
    tags:
      - { name: form.type, alias: html }

  netzmacht.contao_form.form_type.request_token:
    class: Netzmacht\ContaoFormBundle\Form\ContaoRequestTokenType
    arguments:
      - '@netzmacht.contao_toolkit.csrf.token_provider'
    tags:
      - { name: form.type, alias: contao_request_token }

  netzmacht.contao_form.extension.widget_class:
    class: Netzmacht\ContaoFormBundle\Form\Extension\WidgetClassExtension
    arguments:
      - '@netzmacht.contao_toolkit.routing.scope_matcher'
    tags:
      - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType }

  netzmacht.contao_form.extension.help_message:
    class: Netzmacht\ContaoFormBundle\Form\Extension\HelpMessageExtension
    tags:
      - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType }

  netzmacht.contao_form.extension.rte:
    class: Netzmacht\ContaoFormBundle\Form\Extension\RichTextExtension
    arguments:
      - '@contao.picker.builder'
      - '@netzmacht.contao_toolkit.routing.scope_matcher'
    tags:
      - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\TextareaType }

  netzmacht.contao_form.extension.contao_request_token:
    class: Netzmacht\ContaoFormBundle\Form\Extension\ContaoRequestTokenExtension
    arguments:
      - '@netzmacht.contao_toolkit.routing.scope_matcher'
      - '@request_stack'
    tags:
      - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType }

  netzmacht.contao_form.extension.toggleable_fieldset:
    class: Netzmacht\ContaoFormBundle\Form\Extension\ToggleableFieldsetExtension
    tags:
      - { name: form.type_extension, extended_type: AdamQuaile\Bundle\FieldsetBundle\Form\FieldsetType }

  netzmacht.contao_form.input_filter:
    class: Netzmacht\ContaoFormBundle\Filter\ContaoInputFilter
    arguments:
      - '@netzmacht.contao_toolkit.contao.input_adapter'
      - '@netzmacht.contao_toolkit.contao.config_adapter'
      - '@netzmacht.contao_toolkit.routing.scope_matcher'

  netzmacht.contao_form.twig.extension:
    class: Netzmacht\ContaoFormBundle\Twig\TwigExtension
    arguments:
      - '@netzmacht.contao_toolkit.csrf.token_provider'
    tags:
      - 'twig.extension'

  netzmacht.contao_form.rgxp_validator:
    class: Netzmacht\ContaoFormBundle\Validator\Constraints\RgxpValidator
    arguments:
      - '@translator'
      - '@netzmacht.contao_toolkit.callback_invoker'
      - '@contao.framework'
    tags:
      - 'validator.constraint_validator'
